.route-button {
  cursor: pointer;
  font-weight: 700;
  transition: all 0.2s;
  padding: 10px 20px;
  border-radius: 100px;
  background: #007bef;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  font-size: 15px;
}

.route-button:hover {
  background: #178cfa;
}

.route-button > svg {
  width: 34px;
  margin-left: 10px;
  transition: transform 0.3s ease-in-out;
}

.route-button:hover svg {
  transform: translateX(5px);
}

.route-button:active {
  transform: scale(0.95);
}
