.App {
  max-width: auto;
  margin: 0 auto;
  padding: auto;
  font-family: Arial, sans-serif;

  /* Agregado para pie de página fijo */
  min-height: 80vh;
  display: flex;
  flex-direction: column;
}

/* Navegación */
nav {
  background: #f0f0f0;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}

nav a {
  /* margin-right: 20px; */
  padding: 8px 20px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

nav a:hover {
  color: #007bff;
  transition: all 0.3s ease;
  background-color: #d5eeff;
  border-radius: 5px;
}

.home-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  width: 80%;
  /* flex-grow: 1; Added to make content area grow */
}

.home-content h1 {
  margin: auto;
  /* padding: 8px; */
}

h2 {
  margin: auto;
}

/* Secciones de contenido */
div .todo-list,
.edit-todo,
.add-todo {
  margin: 0 auto;
  width: 80%;
}

/* Formularios */
form {
  background: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}

form div {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-size: 16px;
}

button {
  background: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-right: 10px;
}

.cancel-button {
  background: rgba(255, 0, 0, 0.671);
}

.cancel-button:hover {
  background: rgba(223, 0, 0, 0.671);
}

.add-todo-btn {
  background: #3aa856;
}

.add-todo-btn:hover {
  background: #34974d;
}

button:hover {
  background: #0056b3;
  transition: all 0.3s ease;
}

button:disabled {
  background: #ccc;
  cursor: not-allowed;
}

/* Navegacion */
.navigate-button {
  margin: 0.8rem;
  padding: 10px 20px;
  font-weight: 600;
}

/* Lista de todos */
ul {
  list-style: none;
  padding: 0;
}

li {
  background: #f9f9f9;
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 10px;
}

li input[type="checkbox"] {
  width: auto;
}

li span {
  flex: 1;
}

li button {
  background: #dc3545;
  padding: 5px 10px;
  font-size: 12px;
}

li button:hover {
  background: #c82333;
}

.edit-button {
  background: rgba(0, 0, 255, 0.712);
}

.edit-button:hover {
  background: rgb(0, 0, 255);
}

.todo-id {
  pointer-events: none;
}

.todo-status-img {
  width: 20px;
  height: auto;
  pointer-events: none;
}

footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 25px 50px;
  font-weight: 100;
  font-size: 14.5px;
  text-align: end;
}